.checkbox-dec{
    background: #ccc;
    /* border: 1px solid #ccc; */
    --checkbox-background-checked: white;
    --checkmark-color: #0F0637;
    padding: 1px;
    --border-color-checked: #0F0637;
    --border-width: 0;
    --checkbox-background: #fff;

}

