<ion-tabs style="background: #1d0f5b;">
    <ion-tab-bar class="tab-container" slot="bottom">
        <ion-tab-button tab="tab1" class="tab-button-color">
            <ion-icon name="home"></ion-icon>
            Home
        </ion-tab-button>
        <ion-tab-button tab="leaderboard" class="tab-button-color">
            <ion-icon name="star"></ion-icon>
            Leaderboard
        </ion-tab-button>
        <ion-tab-button tab="wallet" class="tab-button-color">
            <ion-icon name="wallet"></ion-icon>
            Wallet
        </ion-tab-button>
        <ion-tab-button tab="notif" class="tab-button-color">
            <ion-icon name="notifications"></ion-icon>
            Notifications
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>