<div class="forget-container text-color-white">
  <div class="ion-padding w-50 mar-auto">
    <div>
      <img (click)="back()" src="assets/img/back.png" />
      <span class="floatRight">
    <img class="imgSize" src="assets/img/demo.png" />
    <span class="text-color-white"> $4.00 </span>
      </span>

      <h3 class="font-w-700">Payment History</h3>

      <div>
        <ion-input class="ion-margin-top border-rad-20 searchInput" placeholder="Search By Date" type="search" name=""></ion-input>
    </div>
  </div>

  <div style="border-bottom: 2px solid #fff;">
    <ion-row>
      <ion-col size="5">
        <h6 class="font-w-700">Transaction ID</h6>
      </ion-col>
      <ion-col size="4">
        <h6 class="font-w-700">Date</h6>
      </ion-col>
      <ion-col size="3" class="font-w-700" style="    padding-left: 35px;">
        <h6 class="font-w-500">Amount Paid</h6>
      </ion-col>
    </ion-row>
  </div>

  <div class="byBabdScroll">
    <ion-row *ngFor="let i of isPayment" class="ion-padding-top ion-padding-bottom" style="border-bottom: 1px solid #523BB8;">
      <ion-col size="5">
       <ion-label>23009</ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-label>18-2-2023</ion-label>
       </ion-col>
      <ion-col size="3" class="ion-text-center">
        <ion-label class="color-dan">$20</ion-label>
      </ion-col>
    </ion-row>
  </div>
  </div>
</div>
