:host {
    background: url('./../../../assets/img/bg2.png');
}

.third-party-login {
    background: white;
    color: black;
    border-radius: 15px;
    height: 50px;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }