<div class="forget-container">
    <div class="mar-auto w-50">
        <div class="ion-padding ">
            <img (click)="back()" src="assets/img/back.png" />
        </div>
        <div class="ion-padding ion-text-center">
            <h3 class="text-color-white">Forget Password ?</h3>
            <div class="signup=group ion-padding-top ion-padding-bottom">
                <img src="assets/img/forget.png">
    
                <div>
                    <ion-label class="ion-padding-top text-color-white">Provide the email you used to sign up. <br> We will send a link to reset password</ion-label>
                </div>
    
                <div class="ion-text-left mt-50">
    
                    <h5 class="text-color-white" style="font-weight: 700;">Enter Your Email</h5>
                    <ion-input class="ion-margin-top input-display border-rad-20" type="emial" [(ngModel)]="email" placeholder="example@example.com"></ion-input>
                </div>
                <button class="ion-margin-top buttons border-rad-20 text-color-white" (click)="forgetPass()">Continue</button>
            </div>
        </div>
    </div>
    


</div>